.root {
    -fx-background-image: url(../../../../resources/images/river.jpg);
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: stretch stretch;
}
Label
{
    -fx-font-size: 25px strech  ;
    -fx-font-family: "MV Boli";
    -fx-text-fill: white;
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.75),1,0,1,1);
}

Button {
    -fx-background-color: transparent;
    -fx-background-image: url(../../../../resources/images/woodenSignTransparent.png) center center fixed;

    -fx-background-size: stretch stretch ;
    -fx-background-repeat: no-repeat;
}

Button:hover {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}
#mazePane
{
    -fx-background-color: white;
    -fx-background-image: url(../../../../resources/images/lightOmbre2.png);
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: stretch stretch;
}
#soundBarIcon
{
    -fx-image: url(../../../../resources/images/whiteSounIcon.png);
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: stretch stretch;
}